.section {
    min-height: 100vh;
}

.h1 {
    font-size: medium;
    text-align: left;
    padding-left: 10%;
    color: white;
}

.section-title {
    font-size: medium;
    text-align: left;
    /*padding: 5%;*/
    padding-left: 5%;
    padding-top: 2%;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.section-body {
    margin-left: 10%;
}

.each-section {
    min-width: 100vw;
    min-height: 16vh;
    margin-top: 4%;
}

.each-left-section {
    /*width: 20%;*/
    /*height: 100%;*/
}

.logo {
    width: 7%;
    height: 7%;
    float: left;
}

.text {
    max-width: 65%;
    float: left;
    /*margin-top: 8px;*/
    margin-left: 12%;
    margin-right: 12%;
    font-size: 20px;
    color: white;
    background-color: #282c34;
}

.intro {
    width:100%;
    margin-bottom: 15px;
    display: inline-list-item;
    list-style-type: disc;
}