.left-column {
    width: 22%;
    height: 22%;
    float: left;
    margin-left: 5%;
    padding-top: 1%;
    min-height: 100vh;
}

.image {
    width: 100%;
    height: 100%;
    float: left;
    margin-left: 8%;
    padding-top: 1%;
}

.words {
    width: 45%;
    height: 40%;
    font-size: 25px;
    /*font-style: italic;*/
    float: right;
    margin-top: 5%;
    margin-right: 15%;
    text-align: center;
}

.link {
    width: 45%;
    height: 20%;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 13%;
    background-color:  #282c34;
}

.item {
    width: 10%;
    margin-left: 10%;
}

.contact-info {
    width: 30%;
    background-color: #282c34;
    float: left;
    margin-left: 19%;
    margin-top: 8px;
    text-align: center;
}

.contact-info-item {
    width: 100%;
    margin-top: 2px;
    text-align: center;
}