.section-project {
    min-height: 500vh;
    max-width: 100vw;
}

.section-subtitle {
    font-size: medium;
    text-align: left;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 0;
    color: hotpink;
    font-size: 20px;
    font-weight: bold;
    background-color: #282c34;
    padding: 1%;
    border-radius: 5px;
    border-width: 2px;
    border-color: hotpink;
    margin-right: 50%;
    outline: none;
}

.project-name {
    color: white;
    margin-left: 5%;
    margin-top: 0;
    width: 50%;
    float: left;
}

.each-section-project {
    min-width: 80%;
    min-height: 18vh;
    margin-top: 4%;
}

.video {
    width: 50%;
    margin-left: 10%;
    outline: none;
}

.demo-pic {
    width: 80%;
    float: left;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 2%;
}

.each-demo-pic {
    width: 25%;
    height: 25%;
    margin-right: 2%;
}

.each-demo-pic-ui {
    width: 40%;
    margin: 2%;
}

.code {
    margin-left: 5%;
    color: coral;
    border-color: coral;
    text-decoration: none;
    display: inline-block;
    border-style: solid;
    padding: 0.5%;
    border-radius: 5px;
}

.code:hover {
    background-color: grey;
}